/* generics */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
}



/* utilities */

/* content */

.container{
  margin-top: 50px;
  height: calc(100vh - 100px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  overflow: hidden;
}

.left-panel{
  width: 35%;;
  min-width: 200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.contact-user,
.logged-user{
  background-color: #eaeaea;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-icon{
  width: 50px;
  height:50px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 20px;
}

.avatar-info-container,
.user-info-container{
  display: flex;
  align-items: center;
}



.icon-container{
  color: #b1b1b1;
  font-size: 1.2rem;
}

.icon-container > * {
  margin-right: 20px;
}


.notification-area{
  display: flex;
  background-color: #8edafc;
  align-items: center;
}

.notification-icon{
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px 25px 5px 25px;
    background-color: #fff;
    color: #8edafc;
    text-align: center;
    padding-top: 10px;
    font-size: 2rem;
}

.search-contacts{
  padding: 5px 20px; 
  background-color: #fafafa;
}

.contact.active{
  background-color: #e9ebeb;
}

.avatar-info-container {
  border-bottom: 1px solid #eaeaea;
  padding: 5px;
}

.avatar-info{
  margin-left: 20px;
}

.avatar-info h2 {
  font-size: 1rem;
}

.avatar-info p {
  font-size: 0.8rem;
  color: #b1b1b1
}

.contacts-container{
  overflow-y: scroll;
  flex-grow: 1;
}


.right-panel{
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.contact-user{
  border-left: 1px solid #b1b1b1;
}

.chat-container{
  flex-grow: 1;
  background-image: url('../img/mine.jpg');
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.new-message-container{
  height: 70px;
  background-color: #f3eeea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
/* message could be sent or received */
.message{
  margin: 30px;
  padding: 15px;
  width: 40%;
  border-radius: 10px;
  font-size: 0.9rem;
  position: relative;
}

/* message status */
.sent{
  background-color: #d5f9ba;
  align-self: flex-end;
}

.received{
  background-color: white;
  align-self: flex-start;
}
/* /message status */

.message-time{
  text-align: right;
  font-size: 0.7rem;
  color: #b1b1b1;
}

.new-message{
  flex-grow: 1;
  text-align: center
}
.hidden-anchor{
  display: none;
  height: 0px;
}

/* pannello per cancellazione messaggi */
.message-delete-panel{
  position: absolute;
  display: none; 
  box-shadow: 5px 7px 2px 2px rgba(0, 0, 0, 0.17);
  background-color: #eaeaea;
  padding: 15px;
  border-radius: 3px;
}

.message-delete-panel.show-panel{
  display: block;
}

.message i {
  position: absolute;
  right: 7px;
  font-size: 0.8rem;
  top: 7px;   
}
